name: Pull Request Workflow

on:
  pull_request:
    branches:
      - staging

jobs:

  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Copy .env file
        working-directory: ./backend
        run: cp .env.exemple .env

      - name: Docker Compose Action
        uses: hoverkraft-tech/compose-action@v2.4.1

      - name: Install e2e test dependencies
        working-directory: ./e2e
        run: npm install
      
      - name: Install playwright executables
        working-directory: ./e2e
        run: npx playwright install --with-deps

      - name: Run e2e tests
        working-directory: ./e2e
        run: npm run test

  # Note : No docker build job is needed here since the 'Docker Compose Action' step builds the images as part of bringing up the services.