name: Push on staging Workflow

on:
  push:
    branches:
      - staging

jobs:
  e2e-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      - name: Copy .env file
        working-directory: ./backend
        run: cp .env.example .env

      - name: Docker Compose Action
        uses: hoverkraft-tech/compose-action@v2.4.1

      - name: Install e2e test dependencies
        working-directory: ./e2e
        run: npm install
      
      - name: Install playwright executables
        working-directory: ./e2e
        run: npx playwright install --with-deps

      - name: Run e2e tests
        working-directory: ./e2e
        run: npm run test
  
  backend-build:
    runs-on: ubuntu-latest
    needs: e2e-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image to Docker Hub
        run: docker buildx build ./backend -t ${{ vars.DOCKER_HUB_USERNAME }}/2025-devops-tp-final-backend:staging --push

  frontend-build:
    runs-on: ubuntu-latest
    needs: e2e-tests

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Push Docker image to Docker Hub
        run: docker buildx build ./frontend -t ${{ vars.DOCKER_HUB_USERNAME }}/2025-devops-tp-final-frontend:staging --push

  backend-trigger-deployment:
    needs: backend-build
    runs-on: ubuntu-latest

    steps:
      - name: Intentionnal fail
        run: exit 1
      

  frontend-trigger-deployment:
    needs: frontend-build
    runs-on: ubuntu-latest

    steps:
      - name: Intentionnal fail
        run: exit 1